@import './modules/colors';

.bill {
  max-width: 400px;
  margin: 0 auto;
  background: $backgroundContent;
  padding: 20px;
  border: 1px solid $border;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: 30px;
    }

    &-logo {
      img {
        max-width: 100px;
      }
    }
  }
}